.overflow-auto{
    max-height: 812px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.l-item{
    margin-left: 15%;
}

#nameEdit{
    display: none;
}

.side-button{
    font-size: 1.3em;
    background-color: white;
    border-color: white;
}

.add-button{
    color: green;
}

.edit-button{
    color: blue;
}

.del-button{
    color: red;
}

.save-button{
    color: lightseagreen;
}

.detail-edit{
    display: none;
}
